body {
    margin: 0;
    font-family: sans-serif;
}

.block1 {
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.header {
    display: inline-block;
    width: 100%;
}

.logo1 {
    position: relative;
    display: inherit;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 0px;
    width: 12%;
    bottom: 50px
}
#logos {
    margin-right: 15px;
    width: 20px;
    float: left;
}


.header-top {
    display: inherit;
    position: relative;
    width: 23%;
    height: 100px;
    left: 19%;
    overflow: hidden;
}

.header-logo {
    position: absolute;
    display: inherit;
    width: 100%;
    bottom: -60px
}


#pages-icon {
    width: 15px;
    height: 15px;
    background-size: 15px;
    transition: 0.2s transform;
}

#pages:hover #pages-icon {
    transform: rotate(-180deg);
}

#pages-block {
    display: flex;
    opacity: 0;
    position: absolute;
    padding: 0px;
    width: 0%;
    height: 0%;
    left: 10%;
    background-color: white;
    box-shadow: 1px 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s height, 0.1s opacity, 0s width;
    -o-transition: 0.2s height, 0.1s opacity, 0s width;
}

#pages-block ul {
    padding: 10px;
    left: 0;
}

#pages:hover #pages-block{
    opacity: 1;
    height: 200px;
    width: 80%;
}

#pages-block li{
    float: none;
    padding: 5px;
}
#pages-block li:first-child{
    font-weight: bold;
}

#categories-icon {
    width: 15px;
    height: 15px;
    background-size: 15px;
    transition: 0.2s transform;
}

#categories:hover #pages-icon {
    transform: rotate(-180deg);
}

#categories-block {
    display: flex;
    opacity: 0;
    position: absolute;
    padding: 0px;
    width: 0%;
    height: 0%;
    left: 22%;
    background-color: white;
    box-shadow: 1px 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s height, 0.1s opacity, 0s width;
    -o-transition: 0.2s height, 0.1s opacity, 0s width;
}

#categories-block ul {
    padding: 10px;
    left: 0;
}

#categories:hover #categories-block {
    opacity: 1;
    height: 110px;
    width:  18%;
}

#categories-block li{
    float: none;
    padding: 5px;
}


.header-middle {
    width: 100%;
}

.header-middle ul {
    position: relative;
    padding: 0;
    list-style-type: none;
    width: 50%;
    left: 32%;
}

.header-middle li {
    margin-right: 20px;
    float: left;
}

.header-middle a {
    color: black;
    text-decoration: none;
}


.block2 {
    padding-top: 60px;
    padding-bottom: 50px;
}

.a {
    padding-right: 24px;
    padding-left: 24px;
    margin-left: 8.006%;
    margin-right: 8.006%;
}

.b {
    width: 62.004%;
}

.hello {
    display: block;
    height: 542px;
}

.block-img1 {
    display: inline-block;
    width: 62.004%;
    height: 542px;
    overflow: hidden;
    border-radius: 12px;
}

#b-i-1 {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s transform;
}

.b:hover #b-i-1 {
    transform: scale(1.1);
}

.block-text {
    display: inline-block;
    width: 34.442%;
    padding-left: 35px;
    float: right;
}


.block-text-1 {
    border-bottom: 1px solid gray;
}

.block-text-1 a {
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: 0.2s transform;
}
.block-text-1:hover #b-t-1 {
    transform: translate(5px);
}
.text1 {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #727272;
    font-size: 18px;
    line-height: 20px;
}
.text2 {
    margin-top: 12px;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    display: block;
    color: black;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}



.block-text-2 {
    border-bottom: 1px solid gray;
}

.block-text-2 a {
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: 0.2s transform;
}
.block-text-2:hover #b-t-2 {
    transform: translate(5px);
}
.text3 {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: gray;
    font-size: 18px;
    line-height: 20px;
}
.text4 {
    margin-top: 12px;
    margin-bottom: 0;
    width: 100%;
    display: block;
    color: black;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}



.block-text-3 a {
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: 0.2s transform;
}
.block-text-3:hover #b-t-3 {
    transform: translate(5px);
}
.text5 {
    font-weight: 700;
    letter-spacing: 0.1em;
    color: gray;
    font-size: 18px;
    line-height: 20px;
}
.text6 {
    margin-top: 12px;
    margin-bottom: 0;
    width: 100%;
    display: block;
    color: black;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}


.block3 {
    padding-top: 50px;
    padding-bottom: 170px;
}

.block4 {
    padding-right: 24px;
    padding-left: 24px;
    margin-left: 8.006%;
    margin-right: 8.006%;
}



.padding {

}



.block-img2 {
    display: inline-block;
    width: 64.07%;
}

.img-text {
    color: black;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 35px;
}



.division1_1 {
    grid-column-gap: 32px;
    /* -ms-grid-columns: auto 1fr; */
    grid-template-columns: auto 1fr;
}
.division1_2 {
    /* display: -ms-grid; */
    display: grid;
    -webkit-box-align: center;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    grid-auto-columns: 1fr;
    /* grid-column-gap: 28px; */
    grid-row-gap: 28px;
    /* -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto; */
}
.division1_3 {
    /* grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px; */
}

.a1 {
    display: inline-block;
    width: 100%;
    color: gray;
    text-decoration: none;
}
.img1 {
    width: 315px;
    height: 315px;
    overflow: hidden;
    border-radius: 12px;
}
#img1 {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text1:hover #img1 {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-text1-block-text{
    width: 100%;
    height: 300px;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text1:hover .img-text1-block-text {
    transform: translate(10px);
    opacity: 0.8;
}
.img-text1-text1 {
    color: gray;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}
.img-text1-text2 {
    width: 90%;
    display: block;
    color: black;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
}
.img-text1-text3 {
    margin-bottom: 24px;
}


.img-text1-text4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.person1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.foto1 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#foto1 {
    display: inline-block;
    width: 100%;
}
.name1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.time1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon1 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#icon1 {
    display: inline-block;
    width: 100%;
}
.time1-time {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}



.division2_1 {
    grid-column-gap: 32px;
    /* -ms-grid-columns: auto 1fr; */
    grid-template-columns: auto 1fr;
}
.division2_2 {
    /* display: -ms-grid; */
    display: grid;
    -webkit-box-align: center;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    grid-auto-columns: 1fr;
    /* grid-column-gap: 28px; */
    grid-row-gap: 28px;
    /* -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto; */
}
.division2_3 {
    /* grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px; */
}

.a2 {
    display: inline-block;
    width: 100%;
    color: gray;
    text-decoration: none;
}
.img2 {
    width: 315px;
    height: 315px;
    overflow: hidden;
    border-radius: 12px;
}
#img2 {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text2:hover #img2 {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-text2-block-text{
    width: 100%;
    height: 300px;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text2:hover .img-text2-block-text {
    transform: translate(10px);
    opacity: 0.8;
}
.img-text2-text1 {
    color: gray;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}
.img-text2-text2 {
    width: 90%;
    display: block;
    color: black;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
}
.img-text2-text3 {
    margin-bottom: 24px;
}


.img-text2-text4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.person2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.foto2 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#foto2 {
    display: inline-block;
    width: 100%;
}
.name2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.time2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon2 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#icon2 {
    display: inline-block;
    width: 100%;
}
.time2-time {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}



.division3_1 {
    grid-column-gap: 32px;
    /* -ms-grid-columns: auto 1fr; */
    grid-template-columns: auto 1fr;
}
.division3_2 {
    /* display: -ms-grid; */
    display: grid;
    -webkit-box-align: center;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    grid-auto-columns: 1fr;
    /* grid-column-gap: 28px; */
    grid-row-gap: 28px;
    /* -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto; */
}
.division3_3 {
    /* grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px; */
}

.a3 {
    display: inline-block;
    width: 100%;
    color: gray;
    text-decoration: none;
}
.img3 {
    width: 315px;
    height: 315px;
    overflow: hidden;
    border-radius: 12px;
}
#img3 {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text3:hover #img3 {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-text3-block-text{
    width: 100%;
    height: 300px;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text3:hover .img-text3-block-text {
    transform: translate(10px);
    opacity: 0.8;
}
.img-text3-text1 {
    color: gray;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}
.img-text3-text2 {
    width: 90%;
    display: block;
    color: black;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
}
.img-text3-text3 {
    margin-bottom: 24px;
}


.img-text3-text4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.person3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.foto3 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#foto3 {
    display: inline-block;
    width: 100%;
}
.name3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.time3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon3 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#icon3 {
    display: inline-block;
    width: 100%;
}
.time3-time {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}



.division4_1 {
    grid-column-gap: 32px;
    /* -ms-grid-columns: auto 1fr; */
    grid-template-columns: auto 1fr;
}
.division4_2 {
    /* display: -ms-grid; */
    display: grid;
    -webkit-box-align: center;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    grid-auto-columns: 1fr;
    /* grid-column-gap: 28px; */
    grid-row-gap: 28px;
    /* -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto; */
}
.division4_3 {
    /* grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px; */
}

.a4 {
    display: inline-block;
    width: 100%;
    color: gray;
    text-decoration: none;
}
.img4 {
    width: 315px;
    height: 315px;
    overflow: hidden;
    border-radius: 12px;
}
#img4 {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text4:hover #img4 {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-text4-block-text{
    width: 100%;
    height: 300px;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text4:hover .img-text4-block-text {
    transform: translate(10px);
    opacity: 0.8;
}
.img-text4-text1 {
    color: gray;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}
.img-text4-text2 {
    width: 90%;
    display: block;
    color: black;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
}
.img-text4-text3 {
    margin-bottom: 24px;
}


.img-text4-text4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.person4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.foto4 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#foto4 {
    display: inline-block;
    width: 100%;
}
.name4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.time4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon4 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#icon4 {
    display: inline-block;
    width: 100%;
}
.time4-time {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}



.division5_1 {
    grid-column-gap: 32px;
    /* -ms-grid-columns: auto 1fr; */
    grid-template-columns: auto 1fr;
}
.division5_2 {
    /* display: -ms-grid; */
    display: grid;
    -webkit-box-align: center;
    /* -webkit-align-items: center;
    -ms-flex-align: center; */
    align-items: center;
    grid-auto-columns: 1fr;
    /* grid-column-gap: 28px; */
    grid-row-gap: 28px;
    /* -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto; */
}
.division5_3 {
    /* grid-template-rows: auto;
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px; */
}

.a5 {
    display: inline-block;
    width: 100%;
    color: gray;
    text-decoration: none;
}
.img5 {
    width: 315px;
    height: 315px;
    overflow: hidden;
    border-radius: 12px;
}
#img5 {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text5:hover #img5 {
    transform: scale(1.1);
    opacity: 0.8;
}

.img-text5-block-text{
    width: 100%;
    height: 300px;
    transition: 0.2s transform, 0.2s opacity;
}
.img-text5:hover .img-text5-block-text {
    transform: translate(10px);
    opacity: 0.8;
}
.img-text5-text1 {
    color: gray;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
}
.img-text5-text2 {
    width: 90%;
    display: block;
    color: black;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
}
.img-text5-text3 {
    margin-bottom: 24px;
}


.img-text5-text4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.person5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.foto5 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#foto5 {
    display: inline-block;
    width: 100%;
}
.name5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.time5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon5 {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
}
#icon5 {
    display: inline-block;
    width: 100%;
}
.time5-time {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: black;
}

.img-text1 {
    padding-bottom: 50px;
}
.img-text2 {
    padding-bottom: 50px;
}
.img-text3 {
    padding-bottom: 50px;
}
.img-text4 {
    padding-bottom: 50px;
}



.block-block {
    display: inline-block;
    width: 28.8325%;
    padding-left: 75px;
    margin-bottom: 471px;
    float: right;
}

.logo-block {
    display: inline-block;
    width: 170px;
    height: 50px;
    margin-bottom: 24px;
}

#Coka-Cola-logo {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-block p {
    margin-bottom: 24px;
    margin-top: 0;
    color: gray;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.form {
    width: 100%;
    height: 64px;
    /* margin-bottom: 56px;
    border-bottom: 1px;
    border-color: gray; */
}

.input {
    display: block;
    width: 100%;
    height: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 0px;
    padding: 16px 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
    border-radius: 8px;
    background-color: white;
    transition: 0.2s border-color;
    font-size: 16px;
}

.form:hover .input {
    border-color: black;
}

.line {
    margin-top: 56px;
    margin-bottom: 56px;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.cells-3 {
    display: block;
    /* margin-top: 56px; */
    margin-bottom: 40px;
    width: 100%;
    height: 38px;
}

.cells1 {
    display: inline-block;
    margin-right: 12px;
}

.cells1 a {
    display: inline-block;
    color: black;
    background-color: #f0f0f0;
    padding: 12px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 6px;
    letter-spacing: 0.08em;
    font-size: 12px;
    line-height: 14px;
}

.cells2 {
    display: inline-block;
    margin-right: 12px;
}

.cells2 a {
    display: inline-block;
    color: black;
    background-color: #f0f0f0;
    padding: 12px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 6px;
    letter-spacing: 0.08em;
    font-size: 12px;
    line-height: 14px;
}

.cells3 {
    display: inline-block;
    margin-right: 12px;
}

.cells3 a {
    display: inline-block;
    color: black;
    background-color: #f0f0f0;
    padding: 12px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 6px;
    letter-spacing: 0.08em;
    font-size: 12px;
    line-height: 14px;
}

.text-in-img {
    display: block;
    margin-bottom: 64px;
    width: 100%;
    height: 360px;
}

.a-in-img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 360px;
    overflow: hidden;
    border-radius: 12px;
    text-decoration: none;
    object-fit: cover;
    transition: 0.2s transform;
}

.text-in-img:hover .a-in-img {
    transform: scale(0.98)
}

.text-in-img1 {
    position: absolute;
    padding-top: 220px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    width: 100%;
    z-index: 2;
    box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.6);
    /* transition: 0.2s transform; */
}

/* .text-in-img:hover .text-in-img1 {
    transform: scale(0.98)
} */

.text-in-img-1 {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: white;
}

.text-in-img-2 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

#macbook {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s transform;
}

.text-in-img:hover #macbook {
    transform: scale(1.1)
}

.text-h2 {
    color: #131313;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 0;
}


.mini-img {
    display: block;
    height: 464px;
}

.mini-img1 {
    padding-bottom: 30px;
}

#mini-img1 {
    display: block;
    width: 100%;
    height: 132px;
    color: gray;
    text-decoration: none;
}

.mini-img-1 {
    display: inline-block;
    width: 132px;
    height: 132px;
    overflow: hidden;
    border-radius: 12px;
}

.mini-img-1-1 {
    width: 100%;
    height: 100%;
    transition: 0.2s transform, 0.2s opacity;
}

.mini-img1:hover .mini-img-1-1 {
    transform: scale(1.1);
    opacity: 0.8;
}

.mini-text-1 {
    display: inline-block;
    width: 53.223%;
    padding-left: 15px;
    float: right;
}

.mini-text-1-1 {
    width: 100%;
    color: black;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 0;
}


.mini-img2 {
    padding-bottom: 30px;
}

#mini-img2 {
    display: block;
    width: 100%;
    height: 132px;
    color: gray;
    text-decoration: none;
}

.mini-img-2 {
    display: inline-block;
    width: 132px;
    height: 132px;
    overflow: hidden;
    border-radius: 12px;
}

.mini-img-2-1 {
    width: 100%;
    height: 100%;
    transition: 0.2s transform, 0.2s opacity;
}

.mini-img2:hover .mini-img-2-1 {
    transform: scale(1.1);
    opacity: 0.8;
}

.mini-text-2 {
    display: inline-block;
    width: 53.223%;
    padding-left: 15px;
    float: right;
}

.mini-text-2-1 {
    width: 100%;
    color: black;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 0;
}


#mini-img3 {
    display: block;
    width: 100%;
    height: 132px;
    color: gray;
    text-decoration: none;
}

.mini-img-3 {
    display: inline-block;
    width: 132px;
    height: 132px;
    overflow: hidden;
    border-radius: 12px;
}

.mini-img-3-1 {
    width: 100%;
    height: 100%;
    transition: 0.2s transform, 0.2s opacity;
}

.mini-img3:hover .mini-img-3-1 {
    transform: scale(1.1);
    opacity: 0.8;
}

.mini-text-3 {
    display: inline-block;
    width: 53.223%;
    padding-left: 15px;
    float: right;
}

.mini-text-3-1 {
    width: 100%;
    color: black;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 0;
}



.block5 {
    padding-top: 176px;
    padding-bottom: 176px;
    background-color: black;
}

.premium-content {
    max-width: 1175px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 8.006%;
    margin-right: 8.006%;
}


.text-center-block {
    margin-bottom: 32px;
    margin-left: 17%;
    margin-right: 17%;
    width: 1;
}

.text-center {
    text-align: center;
}

.text-center h2 {
    color: white;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 16px;
}
.text-center p {
    color: white;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 16px;
}


.premium-content-img {
    position: relative;
}

.flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#premium-content-a{
    position: absolute;
    background-color: white;
    color: black;
    padding: 18px 28px;
    border-radius: 8px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    z-index: 6;
    display: inline-block;
    width: 12.173%;
    height: 21px;
    transition: 0.2s transform;
}

#premium-content-a:hover {
    transform: translate(0px, -3px);
}

.lock {
    display: inline-block;
    width: 15px;
    object-fit: cover;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    float: left;
    padding-top: 2px;
}


.grid {
    display: grid;
    width: 100%;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    grid-template-columns: 1fr 1fr 1fr;
}


.premium-img-1 {
    position: relative;
    width: 357px;
    height: 360px;
    overflow: hidden;
    border-radius: 12px;
}

.women-smile-img {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.premium-text-1-0 {
    position: absolute;
    padding-top: 220px;
    padding-right: 20px;
    padding-bottom: 42px;
    padding-left: 20px;
    width: 88.796%;
    z-index: 2;
}

.TIPS1 {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: white;
}

.premium-text-1-1 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
    margin-top: 0;
}


.premium-img-2 {
    position: relative;
    width: 357px;
    height: 360px;
    overflow: hidden;
    border-radius: 12px;
}

.ipad-keyboard-img {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.premium-text-2-0 {
    position: absolute;
    padding-top: 220px;
    padding-right: 20px;
    padding-bottom: 42px;
    padding-left: 20px;
    width: 88.796%;
    z-index: 2;
}

.TIPS2 {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: white;
}

.premium-text-2-1 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}


.premium-img-3 {
    position: relative;
    width: 357px;
    height: 360px;
    overflow: hidden;
    border-radius: 12px;
}

.macbook-phone-coffe {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.premium-text-3-0 {
    position: absolute;
    padding-top: 220px;
    padding-right: 20px;
    padding-bottom: 42px;
    padding-left: 20px;
    width: 88.796%;
    z-index: 2;
}

.RERESOURCES1 {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: white;
}

.premium-text-3-1 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}



.main-footer {
    background-color: white;
    margin-top: 1px;
}

.footer-1 {
    max-width: 1175px;
    padding-right: 24px;
    padding-left: 24px;
    margin-left: 8.006%;
    margin-right: 8.006%;
}

.footer-1-1 {
    padding-top: 72px;
    padding-bottom: 72px;
}

.footer-1-1-1 {
    max-width: 574px;
    margin-left: 276px;
    margin-right: 276px;
    text-align: center;
}

.footer-text-h2 {
    margin-top: 0;
    margin-bottom: 16px;
    color: black;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}

.footer-text-p {
    margin-top: 0;
    margin-bottom: 32px;
    color: gray;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.form-gmail {
    margin-bottom: 40px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

#form-input-1 {
    display: block;
    margin-bottom: 0px;
    height: 22px;
    padding: 16px 18px;
    color: gray;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    line-height: 18px;
}

#form-input-2 {
    display: inline-block;
    margin-bottom: 0px;
    padding: 18px 28px;
    color: white;
    border: 0;
    border-radius: 8px;
    background-color: black;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.logos {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 8px;
    grid-template-columns: repeat(auto-fit, 36px);
}

#logo {
    display: flex;
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    background-color: #fff;
    font-size: 18px;
    flex-direction: column;
}